<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <h1>How You Doing?</h1>
    <p>You are at the home page Nigga!</p>
    <a href="{% url 'about' %}">click to go on about page</a>
    <br>
    <a href="{% url 'contact' %}">click to go on contact page</a>
    <br>
    <button onclick=funcButton()>click me!</button>

    <form action="{% url 'about' %}">
      {% csrf_token %}
      <input type="text" name = 'user_input'>
      <input type="submit">
    </form>

    <script src="{% static 'main.js' %}"></script>
  </body>
</html>
